body {
    background-image: url(../images/pmBack.png);
}

.nav {
    margin-left: 550px;
    width: auto;
}

.nav_ul li {
    display: inline;
    margin: 0 20px;
}

.nav_ul img {
    width: 90px;
    height: 90px;
}

.login {
    float: right;
    color: white;
    position: absolute;
    top: 40px;
    right: 40px;
    background-color: #041b25;
    padding: 10px 20px;
    border-radius: 5px;
}

.position {
    display: inline-block;
}

.login span {
    padding: 10px 20px;
    cursor: pointer;
}

.login img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

.main .position {
    width: 400px;
    height: 800px;
    color: white;
    font-size: 14px;
    margin-left: 100px;
    margin-top: 50px;
}

.position img {
    width: 15px;
    height: 15px;
    vertical-align: middle;
}

li {
    list-style: none;
    margin: 10px 10px;
}

#map_container {
    width: 1000px;
    height: 850px;
}

.main {
    display: inline-block;
}

.main .btns {
    color: white;
}

.main #right {
    display: inline-block;
}

.btns {
    vertical-align: top;
    position: absolute;
    top: 150px;
}

.btns li {
    display: inline-block;
    margin: 10px 30px;
    padding: 10px 20px;
    background-color: #bbb;
    color: black;
    cursor: pointer;
    border-radius: 5px;
    /* 我服了 */
}

.info .tittle {
    color: white;
    margin-top: 60px;
}

.info {
    position: absolute;
    top: 200px;
}

table {
    color: white;
    width: 1200px;
    text-align: center;
    margin-top: 50px;
    line-height: 40px;
}

.tittle img {
    cursor: pointer;
    border-radius: 3px;
}
#container{
    background-color: white;
    width: 800px;
    margin-top: 50px;
}